.gal {
	text-align: center;
}

.home {
	font-style: italic;
}

.images {
	text-align: center;
}

.g1 {
	font-size: 100%;
}

.g2 {
	font-size: 130%;
}

.g3 {
	font-size: 160%;
}

.amg {
	text-align: center;
}
