h1 {
	text-align: center;
	font-size: 24px;
}

p{
	font-size: 120%;
}

.num1 {
	color: #00008B;
}

.num2 {
	color: #8FBC8F;
}

.num3 {
	color: #C67900FF;
}

.num4 {
	color: #2F4F4F;
}
{
	}.num1:visited {
		color: #2F4F4F;
	}

     .num2:visited {
	color: #B22222;
    }

	.num3:visited {
	color: #BD6241FF;
	}

	.num4:visited {
	color: #38001AFF;
	}}
