h1 {text-align: center; font-size: 22px;}
a {font-style: italic;}
h2 {text-align: center;}
.GG1 {
    text-align: center;
    background-color: green; 
    color: black; 
    font-weight: 600;
   }
.GG2 {background-color: grey; }
.GG3 {background-color: white;}
th {
    border: black; 
    border-width:2px; 
    border-style: solid; 
    padding: 10px; 
    text-align: center;
   }
td {
    border: black; 
    border-width: 2px; 
    border-style: solid; 
    padding: 3px; 
    text-align: center;
   }
@media (min-width: 993px){
th{
    font-size: 130%;
  }
td{
    font-size: 120%;
  }
}
@media (min-width: 769px) and (max-width: 992px){
th{
    font-size: 120%;
  }
td{
    font-size: 110%;
  }
}
@media (max-width: 768px){
th{
    font-size: 110%;
  }
td{
    font-size: 100%;
  }
}
