 

table
{
    border: 1px solid black;
    margin-bottom: 16px;
}
th{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
h1{
    font-family: 'Bungee Outline', cursive;

    text-align: center;
}
h2{
    font-family: 'Bungee Outline', cursive;

    text-align: center;
}
.name{
    font-family: 'Jura', sans-serif;

}

#bod{
    text-align: center;
}

 .text{
    border: 1px solid black;
    width: 256px;
    float: right;
    text-align: center;
    padding: 1px;
     position: absolute;
    bottom: 0px;
    right: 0px;
     margin-bottom: 0;
    background-color: LightSeaGreen;
    font-size: 120%;
}
#text{
    right: 255px;
}


.butn{
    background-color: LightSteelBlue;
      margin-top: auto;
    margin-bottom: 20px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


#stovp1{
    background-color: CornflowerBlue;
     position: absolute;
     left: 50px;
    display: inline-block;
    padding: 3px;
   
}

#stovp2{

    border: 1px solid black;
    background-color: Cyan;
     text-align: center;
     padding: 1px;
     position: absolute;
    width: 100px;
     height: 35px;
     bottom: 0;
    right: 0;
    float: right;
    margin-bottom: 0;
    }

#stovp3{
    background-color: DarkSeaGreen;
   border: 1px solid black;
     text-align: center;
     padding: 1px;
     position: absolute;
    width: 140px;
     height: 35px;
     bottom: 0;
    right: 0;
    float: right;
    margin-bottom: 0;
   
}

#stovp4{
    background-color: GhostWhite;
   border: 1px solid black;
     text-align: center;
     padding: 1px;
     position: absolute;
    width: 200x;
     height: 35px;
     bottom: 0;
    right: 0;
    float: right;
    margin-bottom: 0;
}
#silka{
    text-align: right;
}

.city{
border-width: 0 3px 0 0; border-style: solid; 
padding-right: 10px}
